@use "../core/reset" as *;
@use "../core/colors" as *;
@use "../core/typography" as *;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: rem(24px);
	min-height: 100vh;
	font-family: $ff-base;
	font-size: rem(18px);
	color: $main;
	background-color: $dark-cyan;
}

ul {
	list-style: none;
}

.profile-summary {
	max-width: 326px;
	border-radius: 15px;
	overflow: hidden;
	background-color: $white;
}

.profile-top-background {
	height: 140px;
}

.image-container {
	display: flex;
	justify-content: center;
	position: relative;
	top: -53px;
}

.profile-picture {
	border-radius: 50%;
	border: 5px solid $white;
}
